@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {
    /********NAV BAR*****************/
  .nav {
    float: right;
    width: 100%;
    }
    .logo {
    margin-bottom: 0px;
    }
    .header .row{
    margin: 0px;
    }
    #pull {
    display: block;
    width: auto;
    float: right;
    margin-top: 10px;
    }
    .cover-nav{flex-wrap: wrap;}
    ul#menu-bg {
    display: none;
    }
    ul#menu-bg{width: 100%;padding: 30px 0;}
    .nav > ul > li > a{padding: 10px 0;}
    .book-now{margin-top: 15px;padding: 10px 30px !important;display: inline-block !important;}
    .header-phone {
    margin-left: 40px;
    margin-top: 14px;
    }
    .top-icon {
    margin-top: 31px;
    }
    .nav > ul > li{
    display: block;
    margin: 0;
    }
    .nav-area {
      padding: 8px 15px;
  }
    .servicess___content {
      transform: translateY(26%);
      padding: 0 16px;
  }
  .servicess___content h5 {
    font-size: 28px;
    
}
a.comn__btn {
  padding: 13px 34px;
  font-size: 15px;
}
.banner {
  padding: 45px 0;
}
.nav > ul > li > a.login{
  width: 124px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.Money-Received .money-header{
  row-gap: 10px;
  justify-content: center;
}
}
@media only screen and (max-width:767px){
  .services__item {
    width: 100%;
    }
    .servicess___content h5 {
      font-size: 24px;
  }
  .servicess___content {
    transform: translateY(14%);
}
footer .footer-left::before{
  display: none;
}
.footer-right ul{
  row-gap: 10px;
    justify-content: center;
}
.footer-right p.copy-right{
  text-align: center;
}
.Money-Received .money-re-content .content-left,
.Money-Received .money-re-content .content-right{
  flex-basis: 100%;
}
.Money-Received .money-re-content::before{
  display: none;
}
.mentor-Popup .modal-content label{
  flex-basis: 80%;
}
.model-login-popup .modal-content-wrap{
  flex-direction: column;
}
.Money-Received .money-re-content .content-left{
  padding-bottom: 90px;
}
}
   


    