@media only screen and (max-width: 1200px) {}

/*14-9-23*/
@media only screen and (max-width:1024px) {
  .nav>ul>li {
    margin: 0 20px;
  }

  /*14-9-23*/

}

@media only screen and (max-width: 992px) {

  /********NAV BAR*****************/
  .nav {
    float: right;
    width: 100%;
  }

  li.header-btn1 {
    float: left;
    margin-right: 15px !important;
    margin-top: 12px !important;
  }

  .logo {
    margin-bottom: 0px;
  }

  .header .row {
    margin: 0px;
  }

  #pull {
    display: block;
    width: auto;
    float: right;
    margin-top: 10px;
  }

  .cover-nav {
    flex-wrap: wrap;
  }

  ul#menu-bg {
    display: none;
  }

  ul#menu-bg {
    width: 100%;
    padding: 30px 0;
  }

  .nav>ul>li>a {
    padding: 10px 0;
  }

  .book-now {
    margin-top: 15px;
    padding: 10px 30px !important;
    display: inline-block !important;
  }

  .header-phone {
    margin-left: 40px;
    margin-top: 14px;
  }

  .top-icon {
    margin-top: 31px;
  }

  .nav>ul>li {
    display: block;
    margin: 0;
  }

  .nav-area {
    padding: 8px 15px;
  }

  .servicess___content {
    transform: translateY(26%);
    padding: 0 16px;
  }

  .servicess___content h5 {
    font-size: 28px;

  }

  a.comn__btn {
    padding: 13px 34px;
    font-size: 15px;
  }

  .banner {
    padding: 45px 0;
  }

  .nav>ul>li>a.login {
    width: 124px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  /*14-9-23*/
  .Money-Received .money-header {
    row-gap: 10px;
    justify-content: center;
    gap: 15px;
  }

  /*start-14-9-23*/
  .Money-Received .qiz p {
    display: flex;
  }

  .Money-Received .money-h-left h2 {
    font-size: 23px;
  }

  .Money-Received .money-header.book-mark .money-h-left {
    width: auto;
  }

  .Money-Received .money-header.book-mark {
    justify-content: center;
  }

  .Money-Received .money-h-left {
    justify-content: center;
  }

  /*end-14-9-23*/
}

@media only screen and (max-width:767px) {
  .services__item {
    width: 100%;
  }

  .servicess___content h5 {
    font-size: 24px;
  }

  .servicess___content {
    transform: translateY(14%);
  }

  footer .footer-left::before {
    display: none;
  }

  /*14-9-23*/
  .footer-right ul {
    row-gap: 0;
    justify-content: center;
  }

  .footer-right p.copy-right {
    text-align: center;
    margin-top: 0;
  }

  .Money-Received .money-re-content .content-left,
  .Money-Received .money-re-content .content-right {
    flex-basis: 100%;
  }

  .Money-Received .money-re-content::before {
    display: none;
  }

  .mentor-Popup .modal-content label {
    flex-basis: 80%;
  }

  .model-login-popup .modal-content-wrap {
    flex-direction: column;
  }

  .Money-Received .money-re-content .content-left {
    padding-bottom: 90px;
  }

  .text-engine .text-engine-frm .form-select {
    height: 40px;
  }

  .text-engine .check-wrap ul {
    gap: 15px;
  }

  .Money-Received .money-header.book-mark .money-h-left {
    width: auto;
  }

  .Money-Received .money-header.book-mark {
    justify-content: center;
  }

  /*14-8-23*/

  button.checkAns.btn.btn-primary {
    left: 16px;
  }

  .text-engine .mode-of-exam-wrap label.card_one,
  .text-engine .mode-of-exam-wrap label.card_two {
    width: 100%;
  }

  .text-engine .mode-of-exam-wrap .m-exam-l {
    width: 100%;
  }

  .text-engine .text-engine-content h2 {
    font-size: 22px;
  }

  .footer-right ul {
    margin-bottom: 12px;
  }

  .text-engine {
    padding: 29px 0;
  }

  ul.pagination-wrap li a {
    font-size: 0px;
    padding-left: 5px;
    padding-right: 6px;
    /* text-indent: -9999px;
  white-space: nowrap; */
  }

  .pagination-wrap li a img {
    margin-top: 0px;
    margin-left: 0;
    width: 6px;

  }

  .Money-Received .money-header {
    padding: 0 30px;

  }

  ul.pagination-wrap {
    height: auto;
    align-items: center;
    margin-right: 0;
  }

  .page-count {
    height: auto;
    width: 150px;
  }

  .Money-Received .money-h-left {
    width: 100%;
  }


  /*14-8-23*/


}

@media only screen and (max-width:568px) {
  /*button.checkAns.btn.btn-primary{
    position: static;
  }*/

  .Money-Received .money-re-content .content-left,
  .Money-Received .money-re-content .content-right {
    padding-bottom: 68px;
  }

  button.checkAns.btn.btn-primary {
    left: 50%;
    bottom: 11px;
    transform: translateX(-50%);
  }

  .Money-Received .money-re-content .content-left {
    padding-bottom: 0;
  }

  .Money-Received .money-h-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .Money-Received .money-h-right {
    flex-basis: 100%;
    justify-content: center;
  }

  ul.pagination-wrap {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}