#background {
  position: absolute;
  z-index: 0;
  background: white;
  display: block;
  min-height: 50%;
  min-width: 50%;
  color: yellow;
}

#content {
  position: absolute;
  z-index: 1;
}

#bg-text {
  color: #f5f5f5;
  font-size: 95px;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
}

div {
  line-height: 150%;
  font-size: 15pt;
}
